* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
    font-family: Montserrat, sans-serif;
}

body {
    font-size: 1.5rem;
}

button {
    border: none;
    outline: none;
}

button:active {
    border: none;
    outline: none;
}

button:hover {
    border: none;
    outline: none;
}

button:focus {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none
}


.button {
    font-size: 1.4rem;    
    color: white;
    background-color: #2a2a2d;
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid #2a2a2d;
    justify-self: right;
    margin-left: 70%;
}

.button:hover {
    color: #2a2a2d;
    background-color: white;
    border: 1px solid #2a2a2d;
}



.header-main {
    display: inline-block;
    position: relative;
    width: 100%;
    filter: grayscale(100%);

}

.header-background {
    width: 100%;
}

.navbar {
    color: #d5d5d5;
    position: fixed;
    top: 0;
    height: 5rem;
    width: 100%;
    background-color: #2a2a2d;
    z-index: 10;
    opacity: 0.9;
}

.logo {
    position: absolute;
    height: 100%;
    top: 0;
}

.logo-link {
    display: flex;
    align-items: center;
    letter-spacing: .4rem;
    font-size: 1.8rem;
    padding: 1.5rem;
    line-height: 2rem;
}

.nav-links {
    display: inline-flex;
    align-items: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    flex-flow: row;
    position: absolute;
    top: 0;
    right: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    margin-left: 3rem;
}

.nav-link:hover {
    color: white;
}

.arrow-down {
    
width: 0; 
height: 0; 
border-left: 4px solid transparent;
border-right: 4px solid transparent;
border-top: 4px solid #d5d5d5;
margin-left: 1rem;
}

.nav-search {
    margin-left: 3rem;
    margin-right: 2rem;
}  

.title {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;

}

.title-text {
    font-family: Lato;
    color: #fff;
}

.title-text--location {
    font-size: 2rem;
    letter-spacing: 1rem;
    margin-bottom: 4rem;
    font-weight: 500;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.title-text--description {
    font-size: 1.5rem;
}

.title-text--link-container > ul {
    margin-top: 2rem;
    display: inline-flex;
    flex-flow: row;
}

.title-text--link {
    border: 1px solid white;
    border-radius: 100%;
    margin-left: 5px;
    width: 10px;
    height: 10px;
}

.title-text--link:hover {
    background-color: white;
}

.band-section {
    font-family: Lato;
    text-align: center;
    padding: 8rem 12rem;
    margin-left: auto;
    margin-right: auto;
    color: #777;
    width: 86%;

}

.bio--band-name {

    font-size: 2rem;
    color: #111;
    font-weight: 500;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.bio--quote {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: normal;
    margin-top: 3rem;

}

.bio--band-description {
    margin-top: 2rem;
    line-height: 2.7rem;
}

.band-members-container {
    display: flex;
    flex-flow: row;
    margin-top: 4rem;
    justify-content: space-around;
    width: 100%;

}

.band-member {
    flex-basis: 30%;
    padding: 2rem;
}

.band-member--image {
    border-radius: 100%;
    margin-top: 5rem;
    opacity: 0.7;
    border: 10px solid transparent;
    width: 100%;
    height: auto;

}

.band-member--image:hover {
    border: 10px solid rgb(241, 241, 241);
}

.tour-section {
    display: flex;
    flex-flow: column nowrap;
    font-family: Lato, sans-serif;
    background-color: #2d2d30;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.tour-dates {
    border: 2px solid red;
}

.tour-dates--header-container {

    margin-top: 8rem;
    text-align: center;

}

.header-container--header {
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.header-container--subheading {
    margin-top: 3rem;
    font-style: italic;
    color: #bdbdbd;
    line-height: 3rem;
}

.tour-dates--upcoming-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    color: #bdbdbd;
    width: 75%;
    margin-top: 3rem;

}
.date-month {
    padding: 2rem;
    border-top: 1px solid #bdbdbd;
    position: relative;
}

.date-month--sold-out {
    color: white;
    background-color: #d9534f;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.4rem;
    
}

.date-month--number {
    position: absolute;
    top: 1rem;
    right: 2%;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #777;
    padding: 0.2rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    border-radius: 20px;
}

.tour-tickets {
    margin-top: 2rem;
    margin-bottom: 10rem;
    display: flex;
    flex-flow: row wrap;
    width: 75%;
    justify-content: space-between;
}

.ticket-card {
    color: black;
    flex-basis: 30%;
    background-color: white;
    text-align: center;
    min-width: 150px;
}

.ticket-card--image {
    width: 100%;
}

.ticket-card--details {
    color: #555;
}

.ticket-card--city {
    font-size: 1.5rem;
    margin: 1.5rem;
    font-style: italic;
}

.ticket-card--date {
    font-style: italic;
}

.ticket-card--button {
    font-size: 1.4rem;    
    color: white;
    background-color: #2a2a2d;
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid #2a2a2d;
}

.ticket-card--button:hover {
    color: #2a2a2d;
    background-color: white;
    border: 1px solid #2a2a2d;
}

.contact-section {
    display: flex;
    flex-flow: column nowrap;
    font-family: Lato, sans-serif;
    color: #777;
    border: 2px solid red;
    width: 100%;
    align-items: center;

}

.contact--header {
    text-align: center;
    font-weight: normal;
    color: #111;
    font-size: 2rem;
    letter-spacing: 1rem;
    margin-top: 8rem;
}

.contact--subheader {

    text-align: center;
    font-style: italic;
    margin-top: 3rem;
}

.contact-container {
    display: flex;
    flex-flow: row wrap;
    width: 75%;
    margin-top: 2rem;
}

.contact-info {
    flex-basis: 40%;
    padding: 10px;
    line-height: 4rem;
}

.contact-form {
    color: #555;
    font-family: inherit;
    flex-basis: 60%;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    align-content: flex-start;
}

.form-item {
    border: 1px solid #ccc;
    outline: none;
    padding: 6px 12px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.form-item::placeholder {
    color: #ccc;
    opacity: 1;
}

.contact-form--name, .contact-form--email {
    height: 34px;
    flex-basis:  45%;
    margin-bottom: 2rem;
}

.contact-form--comment {
    font-family: inherit;
    color: inherit;
    padding-top: 1rem;
    padding-left: 2rem;
    width: 100%;
    height: 120px;
    resize: none;
    text-align: start;
    writing-mode: horizontal-tb;
    text-rendering: auto;
}

.contact-form--button {
    margin-right: 0;
    justify-self: right;
    margin-top: 2rem;
    margin-left: auto;
}

.blog-container {
    text-align: center;
    font-family: Lato, sans-serif;
    width: 75%;
    border: 1px solid red;
    margin: auto;
}

.blog-container--header {
    text-align: center;
    font-weight: normal;
    color: #111;
    font-size: 2rem;
    letter-spacing: 1rem;
    margin-top: 2rem;
}

.tab {
    overflow: hidden;
    margin-top: 2rem;
    position: relative;
}

.tab button {
    background-color: transparent;
    border-radius: 4px 4px 0 0;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border: 1px solid white;
    border-bottom: 1px solid #ccc;

  }

.tab button:hover {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.tab button.active {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;

}

.tabcontent {
    border-top: 1px solid #ccc;
    margin-top: -1px;
    display: none;
    text-align: left;
    padding: 24px 12px;

  }

.tabcontent > h3 {

    font-size: 3rem;
    font-weight: 500;
    color: #777;
    padding: 2rem; 

}
  
  